DZ1
[{"id":"31332582.eedb62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a0fd3740.8415a8","type":"inject","z":"31332582.eedb62","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":60,"wires":[["7c93638e.64f92c"]]},{"id":"4ba8d0fe.fba8c","type":"debug","z":"31332582.eedb62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":60,"wires":[]},{"id":"7c93638e.64f92c","type":"function","z":"31332582.eedb62","name":"Получаем дату","func":"var now = new Date()\nnow.setDate(now.getDate() - 5)\nmsg.now_date = (\"0\" + now.getDate()).slice(-2) + \".\" + (\"0\" + (now.getMonth() + 1)).slice(-2) + \".\" + now.getFullYear()\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":60,"wires":[["aacc6d03.bac2a"]]},{"id":"aacc6d03.bac2a","type":"http request","z":"31332582.eedb62","name":"Запрашиваем курс валют","method":"GET","ret":"obj","paytoqs":false,"url":"https://api.privatbank.ua/p24api/exchange_rates?json&date={{{now_date}}}","tls":"","proxy":"","authType":"","x":460,"y":60,"wires":[["1ad99397.1b4b9c"]]},{"id":"1ad99397.1b4b9c","type":"function","z":"31332582.eedb62","name":"Получаем Курс","func":"msg.HW1 = null\nfor (var i = 0; i < msg.payload.exchangeRate.length; i++) {\n  if (msg.payload.exchangeRate[i].currency == \"USD\") {\n    msg.HW1 = \"Продажа - \" + msg.payload.exchangeRate[i].saleRate + \", Покупка - \" + msg.payload.exchangeRate[i].purchaseRate\n  };\n};\nmsg.DateHW1 = msg.headers.date\nmsg.payload = {\n  \"bdh_new_val\":msg.HW1,\n  \"bdc_ref\":\"180205PBNKI000000000176\",\n  \"bdh_dhtype\":5\n}\nmsg.headers = {\n  \"sid\":\"191017csb2r22w9f15a6\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":60,"wires":[["ebaee315.07da5"]]},{"id":"ebaee315.07da5","type":"http request","z":"31332582.eedb62","name":"Записываем Курс в Референс","method":"POST","ret":"obj","paytoqs":false,"url":"https://odb.privatbank.ua:10520/vk_server/doc/docHistory/","tls":"","proxy":"","authType":"","x":910,"y":60,"wires":[["4ba8d0fe.fba8c"]]}]
