Dz2
[{"id":"31332582.eedb62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1f755ea.fcbd3a1","type":"http in","z":"31332582.eedb62","name":"","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["241256c7.c3b06a"]]},{"id":"b79d66d5.6878d8","type":"http response","z":"31332582.eedb62","name":"","statusCode":"","headers":{},"x":1470,"y":160,"wires":[]},{"id":"decbbd6b.7aa55","type":"http request","z":"31332582.eedb62","name":"api","method":"GET","ret":"txt","paytoqs":false,"url":"https://promin.privatbank.ua/ChameleonServer/sessions/get/{{{payload.sid}}}","tls":"","proxy":"","authType":"","x":670,"y":100,"wires":[["e64a9453.f4ba88"]]},{"id":"e64a9453.f4ba88","type":"xml","z":"31332582.eedb62","name":"","property":"payload","attr":"x","chr":"","x":810,"y":100,"wires":[["78e653d8.ec213c","a6d41c96.c6a53"]]},{"id":"78e653d8.ec213c","type":"switch","z":"31332582.eedb62","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":100,"wires":[["a4fc0381.68bca"],["e6a17f24.dd42b"]]},{"id":"e6a17f24.dd42b","type":"http response","z":"31332582.eedb62","name":"","statusCode":"","headers":{},"x":1090,"y":40,"wires":[]},{"id":"241256c7.c3b06a","type":"function","z":"31332582.eedb62","name":"Проверка вход параметров","func":"function getValueNumber (argument) {\n\tvar res = ''\n\tvar numbers = {\n\t\t'0':true,\n\t\t'1':true,\n\t\t'2':true,\n\t\t'3':true,\n\t\t'4':true,\n\t\t'5':true,\n\t\t'6':true,\n\t\t'7':true,\n\t\t'8':true,\n\t\t'9':true\n\t}\n\tfor (var i = 0; i < argument.length; i++) {\n\t\tif (number[argument[i]]) {\n\t\t\tres += argument[i];\n\t\t}\n\t}\n\treturn res;\n}\nvar sid = msg.payload.sid || false;\nvar number = msg.payload.number || false;\nvar list_err = []\nif(!sid){\n    list_err.push('sid')\n}\nif(!number){\n    list_err.push('number')\n} else {\n\tnumber = getValueNumber(number);\n\tif (number.length != 10 && number.length != 12) {\n\t\tlist_err.push('Не верный формат параметра - number')\n\t}\n}\n\nif(list_err.length > 0){\n    msg.payload.err_mess = 'Не переданы параметры: ' + list_err.join(\", \");\n} else {\n\tmsg.sid = sid;\n\tmsg.number = number\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["9017bc89.92b88"]]},{"id":"9017bc89.92b88","type":"switch","z":"31332582.eedb62","name":"","property":"payload.err_mess","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":100,"wires":[["ae0332e6.0b02b"],["decbbd6b.7aa55"]]},{"id":"ae0332e6.0b02b","type":"http response","z":"31332582.eedb62","name":"Ответ нет обяз параметров","statusCode":"400","headers":{},"x":740,"y":40,"wires":[]},{"id":"a4fc0381.68bca","type":"switch","z":"31332582.eedb62","name":"","property":"payload.session.user[0].x.auth","propertyType":"msg","rules":[{"t":"eq","v":"LDAP","vt":"str"},{"t":"eq","v":"EXCL","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":1090,"y":100,"wires":[["bc64c06c.531ac"],["b1429623.1a0018"],["16e3d761.0a3149"]]},{"id":"753c1f07.05992","type":"http response","z":"31332582.eedb62","name":"Ответ не поддерживаемой типа сессии","statusCode":"400","headers":{},"x":1540,"y":80,"wires":[]},{"id":"bc64c06c.531ac","type":"function","z":"31332582.eedb62","name":"Сессия LDAP","func":"msg.payload.err_mess = 'Сессия сотрудника - ' + msg.payload.session.user[0].x.login + ' не поддерживаются, допустип только тип Сессии EXCL'\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":40,"wires":[["753c1f07.05992"]]},{"id":"16e3d761.0a3149","type":"function","z":"31332582.eedb62","name":"Что-то не так","func":"msg.payload.err_mess = 'Тип Сессии - ' + msg.payload.session.user[0].x.auth + ' не поддерживается'\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":100,"wires":[["753c1f07.05992"]]},{"id":"b1429623.1a0018","type":"function","z":"31332582.eedb62","name":"Получаем оператора","func":"function getMobOperator (code) {\n\tvar result = 'Оператор не известный';\n\tvar obj_code = {\n\t\t'067':'Kievstar',\n\t\t'096':'Kievstar',\n\t\t'097':'Kievstar',\n\t\t'098':'Kievstar',\n\t\t'050':'Vodafone',\n\t\t'066':'Vodafone',\n\t\t'095':'Vodafone',\n\t\t'099':'Vodafone',\n\t\t'063':'Lifecell',\n\t\t'073':'Lifecell',\n\t\t'093':'Lifecell'\n\t};\n\tif (obj_code[code]) {\n\t\tresult = obj_code[code];\n\t}\n\treturn {\n\t\t'code':code,\n\t\t'operator':result\n\t};\n}\nvar answer = {\n\t'code':msg.number.slice(0, 3),\n\t'operator':'Оператор не известный'\n};\nif (msg.number.length == 12 && msg.number.slice(0, 2) == '38') {\n\tanswer = getMobOperator(msg.number.slice(2, 5));\n} else if (msg.number.length == 10 && msg.number.slice(0, 1) == '0') {\n\tanswer = getMobOperator(msg.number.slice(0, 3))\n}\ndelete msg.payload.session;\nmsg.payload.answer = answer;\nreturn msg;","outputs":2,"noerr":0,"x":1280,"y":160,"wires":[["b79d66d5.6878d8"],["75629c95.08b4e4"]]},{"id":"75629c95.08b4e4","type":"debug","z":"31332582.eedb62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1320,"y":260,"wires":[]},{"id":"a6d41c96.c6a53","type":"debug","z":"31332582.eedb62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":160,"wires":[]},{"id":"9c09ac5d.82ed9","type":"catch","z":"31332582.eedb62","name":"","scope":null,"uncaught":false,"x":100,"y":220,"wires":[["ce9e2555.51cd68","a413d3f6.fc01d"]]},{"id":"ce9e2555.51cd68","type":"function","z":"31332582.eedb62","name":"","func":"msg.payload.err_mess = 'Технические проблемы'\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["3f4d041d.2d5bac"]]},{"id":"3f4d041d.2d5bac","type":"http response","z":"31332582.eedb62","name":"","statusCode":"400","headers":{},"x":420,"y":220,"wires":[]},{"id":"a413d3f6.fc01d","type":"debug","z":"31332582.eedb62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":340,"wires":[]}]
